:root{
	--text-color-1: #F6F6F6;
	--background-color-1:#1e56a0;
	--background-color-2:#163172;
	--background-color-3: #f2f2f2;
	--navbar-text-color: #f9f9f9;
	--navbar-icon-color: #f9f9f9;

	--padingLeft: 20%;
	--padingRight: 20%;
	--BreakpointPadingLeft: 5%;
	--BreakpointPadingRight: 5%;

	--NavbarFooterTextColor:#f9f9f9;
	--NavbarFooterIconColor:#f9f9f9;

	--ProductTextColor1:#000000;
	--ProductPriceColor1:#0c0;
	
	
}
