.shopCard{
	background-color: white;
	border-bottom: 2px solid;
	padding-bottom: 0px;
	text-align: right;
}

@media only screen and (max-width: 992px) {
	.shopCard{
		text-align: center;
	}
}

.priceValue{
	color: var(--background-color-2);
	font-weight: bold;
}

.priceCheck a{
	color: red;
	font-weight: bold;
}

.priceCheck a:hover{
	text-decoration: none;
	color: red;
	font-weight: bold;
}

.shopImage{
	margin: auto;
	width: 100%;
}

