.categoryCard{
	background-color: white;
}

.categoryCard .categoryName{
	color: var(--ProductTextColor1);
}


.categoryCard a:hover{
	text-decoration: none;
}


@media only screen and (min-width: 992px) {
	.categoryCard:hover{
		transform: scale(1.2);
		box-shadow: 2px 2px 2px 2px;
		z-index:10;
		position: sticky;
	}
}

